.rc-tabs {
  outline: none;
}
.rc-tabs-nav-container {
  line-height: 1.42857143;
  font-size: 14px;
  white-space: nowrap;
}
.rc-tabs-tab-prev,
.rc-tabs-tab-next {
  display: none;
}
.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  display: inline-block;
}
.rc-tabs-nav:before,
.rc-tabs-nav:after {
  display: table;
  content: " ";
}
.rc-tabs-nav:after {
  clear: both;
}
.rc-tabs-nav div.rc-tabs-tab-active > a,
.rc-tabs-nav div.rc-tabs-tab-active > a:hover,
.rc-tabs-nav div.rc-tabs-tab-active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
}
.rc-tabs-nav div.rc-tabs-tab-disabled {
  pointer-events: none;
  cursor: default;
  color: #ccc;
}
.rc-tabs-nav .rc-tabs-tab {
  float: left;
  position: relative;
  display: block;
}
.rc-tabs-nav .rc-tabs-tab > a {
  margin-right: 2px;
  border: 1px solid transparent;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.rc-tabs-nav .rc-tabs-tab > a:hover {
  border-color: #eee #eee #ddd;
  cursor: pointer;
}
.rc-tabs-nav .rc-tabs-tab > a:hover,
.rc-tabs-nav .rc-tabs-tab > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.rc-tabs-tabpane-hidden {
  display: none;
}
.rc-tabs-ink-bar {
  display: none;
}
.rc-tabs-top .rc-tabs-nav-container {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.rc-tabs-top .rc-tabs-nav .rc-tabs-tab {
  margin-bottom: -6px;
}
.rc-tabs-top .rc-tabs-nav div.rc-tabs-tab-active > a,
.rc-tabs-top .rc-tabs-nav div.rc-tabs-tab-active > a:hover,
.rc-tabs-top .rc-tabs-nav div.rc-tabs-tab-active > a:focus {
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;
}
.rc-tabs-bottom .rc-tabs-nav-container {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
.rc-tabs-bottom .rc-tabs-nav .rc-tabs-tab {
  margin-top: -1px;
}
.rc-tabs-bottom .rc-tabs-nav div.rc-tabs-tab-active > a,
.rc-tabs-bottom .rc-tabs-nav div.rc-tabs-tab-active > a:hover,
.rc-tabs-bottom .rc-tabs-nav div.rc-tabs-tab-active > a:focus {
  border-top-color: transparent;
  border-radius: 0 0 4px 4px;
}
.rc-tabs-left .rc-tabs-nav-container {
  border-right: 1px solid #ddd;
  margin-right: 10px;
  float: left;
}
.rc-tabs-left .rc-tabs-nav .rc-tabs-tab {
  margin-right: -3px;
  float: none;
}
.rc-tabs-left .rc-tabs-nav {
  display: block;
}
.rc-tabs-left .rc-tabs-nav div.rc-tabs-tab-active > a,
.rc-tabs-left .rc-tabs-nav div.rc-tabs-tab-active > a:hover,
.rc-tabs-left .rc-tabs-nav div.rc-tabs-tab-active > a:focus {
  border-right-color: transparent;
  border-radius: 4px 0 0 4px;
}
.rc-tabs-right .rc-tabs-nav-container {
  border-left: 1px solid #ddd;
  margin-left: 10px;
  float: right;
}
.rc-tabs-right .rc-tabs-nav .rc-tabs-tab {
  margin-left: -3px;
  float: none;
}
.rc-tabs-right .rc-tabs-nav {
  display: block;
}
.rc-tabs-right .rc-tabs-nav div.rc-tabs-tab-active > a,
.rc-tabs-right .rc-tabs-nav div.rc-tabs-tab-active > a:hover,
.rc-tabs-right .rc-tabs-nav div.rc-tabs-tab-active > a:focus {
  border-left-color: transparent;
  border-radius: 0 4px 4px 0;
}

/*# sourceMappingURL=tabPosition.css.map*/