@tabs-prefix-cls: rc-tabs;

@easing-in-out: cubic-bezier(0.35, 0, 0.25, 1);

@effect-duration: .3s;

@import "index/common";
@import "index/left";
@import "index/right";
@import "index/bottom";
@import "index/top";