@import './dropdown.less';
@import './panels.less';
@import './position.less';

@tabs-prefix-cls: rc-tabs;

@easing-in-out: cubic-bezier(0.35, 0, 0.25, 1);

@effect-duration: 0.3s;

.@{tabs-prefix-cls} {
  border: 1px solid gray;
  font-size: 14px;
  overflow: hidden;

  // ========================== Navigation ==========================
  &-nav {
    display: flex;
    flex: none;
    position: relative;

    &-measure,
    &-wrap {
      position: relative;
      display: inline-block;
      flex: auto;
      white-space: nowrap;
      overflow: hidden;
      display: flex;

      &::after {
        content: '';
        flex: none;
      }
    }

    &-more {
      flex: none;
      background: rgba(255, 0, 0, 0.1);
    }
  }

  &-tab {
    border: 0;
    font-size: 20px;
    background: transparent;
    margin: 0;
    padding: 8px 16px;
    outline: none;
    cursor: pointer;

    &:focus {
      background: rgba(0, 0, 255, 0.1);
    }
  }

  &-ink-bar {
    position: absolute;
    background: red;
    pointer-events: none;

    &-animated {
      transition: all 0.3s;
    }
  }

  &-extra-content {
    flex: none;
  }
}
