@tabs-prefix-cls: rc-tabs;

.@{tabs-prefix-cls} {
  &-body {
    &-holder {
      flex: auto;
    }

    position: relative;

    // display: flex;
    width: 100%;

    // &-animated {
    //   transition: margin 0.3s;
    // }
  }

  &-content {
    // flex: none;
    // width: 100%;

    &-hidden {
      display: none;
    }
  }
}
