.@{prefixClass} {
  &-right {
    border-left: 2px solid #f3f3f3;
  }

  &-right &-tabs-bar {
    float: right;
    margin-left: 10px;
    border-left: 1px solid #f3f3f3;
  }

  &-right &-nav-container-scrolling {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &-right &-nav-wrap {
    height: 100%;
  }

  &-right &-nav-scroll {
    height: 99999px;
  }

  &-right &-nav {
    transition: top 0.5s @easing-in-out;
  }

  &-right &-tab-prev, &-right &-tab-next {
    margin-top: -2px;
    height: 32px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 32px;
  }

  &-right &-tab-next {
    bottom: 0;
    &-icon {
      transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }
    &-icon:before {
      content: ">";
    }
  }

  &-right &-tab-prev {
    top: 2px;
    &-icon {
      transform: rotate(270deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    &-icon:before {
      content: ">";
    }
  }

  &-right &-content {
    height: 100%;
  }

  &-right &-ink-bar {
    width: 2px;
    left: 0;

    &-transition-forward {
      transition: bottom @effect-duration @easing-in-out,
      top @effect-duration @easing-in-out @effect-duration * 0.3;
    }
    &-transition-backward {
      transition: bottom @effect-duration @easing-in-out @effect-duration * 0.3,
      top @effect-duration @easing-in-out;
    }
  }

  &-right &-nav &-tab {
    padding: 16px 24px;
  }
}